<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ username }}'s Greeting Count</title>
    <style>
        body {
            background-image: linear-gradient(to right, rgb(238, 206, 238), rgba(251, 251, 109, 0.887));
            font-size: 1.2em;
            border-style: solid black;
        }
  .back {
    text-align: center;
    display: block;
    background-color: #ff3399;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-sizing: border-box; /* Add this line */
  }
  
  .back:hover {
    background-color: #ff0066;
  }
  
    </style>
</head>

<body>

<h2> {{this.name}}This user has been greeted {{this.count}} times.</h2>

<a href="/greeted" class="back">Back</a>
</body>

</html>
