<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: linear-gradient(to right, rgb(238, 206, 238), rgba(251, 251, 109, 0.887));

            font-size: 3em;
            border-style: solid black;
        }
    </style>
</head>

<body>
    <a href='/' class="homebtn"><button>Home</button></a>
<h2 style="text-align: center;">The following names have been greeted:</h2>
   <ul>
  {{#each greetedNames }}
   <a class="greetedHbs" href="/counter/{{this.name}}"><li>{{this.name}} {{this.count}}</li></a>
  {{/each}}
</ul>

</body>

</html>

