

<div class="container">

  <section class="greetingSection">
    <div>

      {{#if errorMessage}}
      <h4 class="error">{{errorMessage}}</h4>
      {{/if}}
      <h1 class="greet">Greet Me :)</h1>

    </div>

    <div class="row">

      <form action="/greetings" method="POST">

        <h3><label for="Names" class="nameHeading">NAME</label></h3>

      <div class="buttonIn">
        <input type="text" value="" name="greetedName" placeholder="                                                                              Please enter your name" class="Name">

    </div>
     

    </div>
     <h3 class="langHeading">LANGUAGE</h3>
    <div class="radio-container">
       
    <label class="valueLanguages">
      <input type="radio" name="language" class="itemTypeRadio" value="english">
      <span class="label-body">English</span>
    </label>

    <label class="valueLanguages">
      <input type="radio" name="language" class="itemTypeRadio" value="afrikaans">
      <span class="label-body">Afrikaans</span>
    </label>

    <label class="valueLanguages">
      <input type="radio" name="language" class="itemTypeRadio" value="arabic">
      <span class="label-body">Arabic</span>
    </label>

    </div>
    <br>
     <button class="enter" type="submit" name="button">Enter</button>
  <div class="theMessage">{{greetingTheUser}}</div>
    <hr>

  

      <span class="valueDisplay">{{counter}}</span>
    
<button  class="btnGrt" href="/greeted">Greeted Users</button>   
    </form>
<form  action="/reset" method="POST"> <button class="restBtn" name="reset" type="submit" onclick="return confirm('Are you sure you want to reset your data?')" {{reset}}>Reset</button></form>
    
  </section>

  <footer>&#169 Raadiyah Arend Copyright 2023</footer>

</div>



<script src="/script.js"></script>
</html>