/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

/* Header Section */
.greetingSection {
    background-color: rgb(201, 156, 195);
    border: #e7e69d solid 12px;
    box-shadow: 20px 20px 20px #c671e7;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.greetingSection h3 {
    font-size: 3.9em;
    color: black;
}

/* Navigation Links */
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
}

a:hover, a:active {
    background-color: red;
}

/* Form Inputs and Labels */
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.row label {
    font-size: 1.6em;
    color: black;
}

.row input {
    width: 100%;
    max-width: 350px;
    height: 50px;
    font-size: 1.4em;
    padding: 5px;
}

.Name {
    margin-bottom: -3.4em;
}

.theMessage {
    font-size: 2em;
    color: rgb(255, 68, 0);
    display: inline;
    text-align: center;
}

input[type='radio'] {
    width: 25px;
    height: 20px;
    padding: 15px;
    accent-color: red;
}

/* Language Section */
.langHeading {
    font-size: 2em;
    text-align: center;
    border-color: #c671e7;
    color: black;
    font-weight: bold;
}

.valueLanguages {
    font-size: 1.7em;
    color: black;
    margin: 0 20px;
}

/* Buttons */
.enter, .resetBtn {
    height: 60px;
    width: 120px;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    vertical-align: middle;
}

.enter:hover, .resetBtn:hover {
    background-color: #0056b3;
}

/* Value Display */
.valueDisplay {
    font-size: 3.5em;
    color: #000;
}

/* Footer */
footer {
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .greetingSection {
        padding: 10px;
        margin-bottom: 20px;
    }

    .row input {
        max-width: 100%;
    }

    .valueLanguages {
        margin: 0;
    }

    .enter, .resetBtn {
        width: 100%;
        font-size: 1em;
    }

    .resetBtn {
        width: 100%;
        height: 50px;
    }
}
